* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; /* Necesario para el posicionamiento del enlace */
  }
  
  .container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #result {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  
  #result span {
    color: #4CAF50;
  }
  
  /* Estilo del enlace de regreso */
  .back-link {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #FF5722;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    z-index: 10; /* Asegura que esté por encima de otros elementos */
  }
  
  .back-link:hover {
    background-color: #e64a19;
  }
  