body {
  background-color: #eae7dc;
  font-family: "Lato", sans-serif;
}

.category {
  margin: 20px;
  padding: 20px;
  background-color: #fff8e1;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.category h1 {
  text-align: center;
  font-size: 2em;
  color: #2e4a3e;
  font-family: "Georgia", serif;
  margin-bottom: 20px;
  border-bottom: 2px solid #2e4a3e;
  padding-bottom: 5px;
}

.category ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.category li {
  background-color: #e6f0e6;
  margin: 15px 0;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.category h2 {
  color: #2e4a3e;
  font-size: 1.5em;
  margin-bottom: 5px;
}

.category p {
  font-size: 1em;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.5px;
}

.category li > ul > li {
  background-color: #f0ede6;
  margin: 15px 0;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.category > a{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  color: #2e4a3e;
  font-size: large;
  padding: 0.9em;
  background: #e6f0e6;
  transition: 0.45s;
}
.category >a:hover {
  background: #b2ceb2;
  
}